// -----------------------------------------------------------------------------
// Buttons
// -----------------------------------------------------------------------------

/**
 * select some buttons
 */

$buttons: ( '.button, a.button, button, [type=button], [type=submit]');
#{$buttons} {
    display: inline-block;
    background: #1E6BD6;
    border: 1px solid #1E6BD6;
    color: white;
    text-decoration: none;
    font-weight: 600;
    font-size: .95rem;
    font-family: sans-serif;
    padding: .5rem 1rem;
    vertical-align: middle;
    white-space: nowrap;
    cursor: pointer;
    line-height: 1;
    margin: .25rem 0;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
    border: 0;
    padding: 0;
}