/* Buttons */

// select buttons
$my-buttons: ( '.button, a.button, button, [type=button], [type=submit]');

// apply styles
%buttons {
    display: inline-block;
    line-height: 1;
    border: $button-borders;
    border-radius: $button-border-radius;
    background: $button-background;
    color: $button-color;
    font-weight: $button-font-weight;
    height: $input-height;
    text-transform: uppercase;
    padding: .6rem 1.2rem;
    cursor: pointer;
    margin: .8rem 0;
    font-size: .9rem;
    white-space: nowrap;
    vertical-align: middle;
    text-decoration: none;
}

%buttons-hover {
    background: darken($button-background, 10%);
}

%buttons-muted {
    background: transparent;
    border: $muted-border;
    color: $muted-color;
    &:hover {
        border: $muted-border-hover;
        background: $muted-background-hover;
        color: lighten($muted-color, 50%);
    }
}

#{$my-buttons} {
    @extend %buttons;
    &:hover {
        @extend %buttons-hover;
    }
    &.muted {
        @extend %buttons-muted;
    }
}